<!DOCTYPE html>
<html>
	<head>
		<title>Belajar AngularJs</title>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
			rel="stylesheet"
		/>
		<style>
			* {
				font-family: "Poppins";
			}
		</style>
	</head>
	<body ng-app="FirstApp">
		<div ng-controller="MainController">
			{{ title }} <br />
			{{ book.author }} <br />
			{{ book.title }} <br />
			{{ book.price | currency }} / {{ book.price | rupiah }} <br />
			{{ book.pubdate | date }} <br />
		</div>

		<script src="../js/angular.min.js"></script>
		<script src="../js/module/app.js"></script>
		<script src="../js/controllers/MainController.js"></script>
	</body>
</html>
